.got-question-section-container {
    position: relative;
    width: 100%;
    padding-top: 5%;
    display: flex;
    align-items: center;
    /* z-index: -1; */

    .got-question-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        .img {
            width: 100%;
            height: 100%;
        }
    }

    .got-question-left {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        .img {
            width: 100%;
            height: 100%;
        }
    }

    .got-question-bottom-right {
        position: absolute;
        top: 20%;
        left: 0;
        bottom: 0;
        z-index: -1;

        .img {
            width: 100%;
            height: 100%;
        }
    }
}

.got-question-section {
    width: 100%;

    .heading {
        text-align: center;
        color: #fff;
        font-size: 45px;
        line-height: 50px;
        font-family: 'Baloo 2', sans-serif;
    }

    .description {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .item-box-container {
        margin-top: 30px;
        display: grid;
        padding: 0 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .robot {
            position: relative;

            .img {
                width: 100%;
            }

            .robot-bg {
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }

        .faq-container {
            width: 100%;

            .accordion {
                margin-top: 30px;
                font-family: Arial, Helvetica, sans-serif;
                max-width: 550px;
                width: 100%;
                margin: auto;
            }

            .accordion-item {
                margin-bottom: 20px;
                position: relative;
            }

            .accordion-title {
                color: #fff;
                background-color: #11152E;
                border-radius: 7px;
                border: 2px solid #22284F;
                padding: 17px 30px !important;
                cursor: pointer;
                padding: 10px;
                transition: background-color 1s;

                font-family: 'Baloo 2', sans-serif;
                font-size: 20px;
                line-height: normal;
                text-transform: capitalize;


            }


            .accordion-title::before {
                content: '+';
                position: absolute;
                top: 25%;
                right: 20px;
                font-size: 30px;
                font-weight: 400;
                font-family: sans-serif;
                height: 17px;
                width: 17px;
            }

            .accordion-content {
                color: #FFF;

                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;

                display: none;
                padding: 10px 30px;
                background: #000;
            }

            .accordion-item.active .accordion-content {
                display: block;
            }

            .accordion-item.active .accordion-title::before {
                content: '\00d7';
                position: absolute;
                top: 5%;
                right: 20px;
                font-size: 28px;
            }

            .accordion-item.active .accordion-title {
                border: 0;
                border-radius: 0;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                background: linear-gradient(#000, #000) padding-box,
                    linear-gradient(to right, #800080, #E62274, #F9CE00) border-box;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }


            .accordion-item.active .accordion-content {
                border: 0;
                border-radius: 0;
                border-bottom: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                background: linear-gradient(#000, #000) padding-box,
                    linear-gradient(to right, #800080, #E62274, #F9CE00) border-box;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                border-top: 1px solid #212121;
            }
        }
    }

    .get-started {
        margin: auto;
    }
}



/* Responsiveness */
@media (max-width: 890px) {
    .got-question-section-container {
        .got-question-section {

            .description {
                padding: 0 10px;
            }

            .item-box-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                justify-items: center;

                .robot {
                    width: 100%;

                    .img {
                        width: 100%;
                    }
                }

                .faq-container {
                    .accordion {
                        .accordion-item {
                            .accordion-title {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }

        }
    }
}