.limited-section-container {
    background: #01051F;
    position: relative;
    width: 100%;
    z-index: -1;

    .limited-time-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        opacity: .1;

        .img {
            width: 100%;
            height: 100%;
        }
    }
}

.limited-section {
    padding: 72px 0;

    .content-heading {
        max-width: 640px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .heading {
            color: #fff;
            font-size: 45px;
            line-height: 70px;
            font-family: 'Baloo 2', sans-serif;
        }

        .description {
            color: #fff;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }
    }

    .content-box {
        margin-top: 21px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        .single-box {
            max-width: 358px;
            width: 100%;
            height: 334px;
            border-radius: 18px;
            background: #11152E;
            padding: 29px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title {
                font-size: 20px;
                line-height: 30px;
                font-family: 'Baloo 2', sans-serif;
                padding-top: 26px;
                padding-bottom: 14px;
                text-align: center;
            }

            .description {
                font-size: 14px;
                line-height: 29px;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
            }
        }
    }

    .struggle-content {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 31px;
        font-family: 'Baloo 2', sans-serif;
    }

    .button {
        display: flex;
        justify-content: center;
    }
}



/* Responsiveness */
@media (max-width: 1400px) {
    .limited-section {
        .content-box {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px
        }
    }
}

@media (max-width: 768px) {
    .limited-section {
        .content-box {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            gap: 10px
        }
    }
}

