.smarter-work-section-container {
    background: #01051F;
    width: 100%;
    padding: 8% 0;
    display: flex;
    align-items: center;
    position: relative;
}

.content-image {
    position: absolute;
    top: 5%;
    right: 0%;
    max-width: 60%;
    width: 100%;
    max-height: 664px;
    height: 100%;

    .img {
        width: 100%;
        height: 100%;
    }
}

.smarter-work-section {
    width: 100%;

    .content-text {
        width: 45%;
        padding-right: 10%;

        .heading {
            color: #fff;
            font-size: 45px;
            line-height: 50px;
            font-family: 'Baloo 2', sans-serif;
        }

        .description {
            margin: 20px 0;
            color: #fff;
            font-size: 16px;
            line-height: 30px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .card-box {
        margin-top: 45px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 20px;

        .single-item {
            max-width: 358px;
            width: 100%;
            margin: auto;
            height: 216px;
            z-index: 1;

            border: 2px solid transparent;
            background: linear-gradient(#030720, #030720) padding-box,
                linear-gradient(to right, #800080, #E62274, #F9CE00) border-box;
            border-radius: 7px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}



/* Responsiveness */
@media (max-width: 1000px) {
    .smarter-work-section-container {
        .content-image {
            display: none;
        }

        .smarter-work-section {
            .content-text {
                width: 100%;
            }
        }
    }
}


@media (max-width:768px) {
    .smarter-work-section {
        .card-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
}


@media (max-width:460px) {
    .smarter-work-section {
        .card-box {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }
}

