/* -------------------------------------
-----------root color --------------- */
:root {

    --header-bg: #0e3959;
    --body-bg: #03a9f4;
    --body-bg-white: white;
    --text-black: black;
    --text-white: white;
    --color-button-gradient: linear-gradient(90deg, #8715E4 0%, #800080 100%);

}

.dark-theme {

    --header-bg: #0A2238;
    --body-bg: #0A2238;
    --body-bg-white: #0A2238;
    --text-black: white;
    --text-white: black;
}

/* -----------root color ---------------
------------------------------------- */